{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fb Clone</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'navbar.css' %}"> 
    <link rel="stylesheet" href="{% static 'cpost.css' %}">
    
    
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Fb Clone</label>
        {% if user.is_authenticated %}
        <ul>
        <li>
            <div>
            <a href="/">
                <i class="fas fa-home" style="color: white !important;font-size: 22px !important;"></i>
                <label style="cursor: pointer;">Home</label>
            </a>
            </div>
        </li>
        <li>
            <a href="/cpost">
            <i class="fas fa-upload" style="color: white !important;font-size: 22px !important;"></i>
            <label style="cursor: pointer;">Post</label>
            </a>
        </li>
        <li>
            <a href="/my_groups/">
                <i class="fas fa-users" style="color: white !important;font-size: 22px !important;"></i>
                <label style="cursor: pointer;">Groups</label>
            </a>
        </li>
        <li>
            <a href="/my_friends/">
            <i class="fas fa-user-friends" style="color: white !important;font-size: 25px !important;"></i>
            <label style="cursor: pointer;">Friends</label>
            </a>
        </li>
        <!-- <li><a href="/showprofile">Profile</a></li> --> 
        <div class="dropdown">
            <button class="dropbtn" onclick="showprof()"><i class="fas fa-user-circle" style="color: white !important;font-size: 25px !important;"></i><label style="cursor: pointer;padding-left: 3px;">Account</label>
            </button>
            <div class="dropdown-content" id="dropdown-content">
              <a href="/showprofile"><i class="fas fa-user-circle"></i> Profile</a>
              <a href="/mposts"><i class="fas fa-upload"></i> My Posts</a>
              <a href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
            </div>
          </div>     
    </ul>
    
        {% else %}
        <ul>
            <li><a href="/cm"><i class="fas fa-home" style="color: white !important;font-size: 22px !important;"></i>
                <label style="cursor: pointer;">Home</label></a></li>
            <li><a href="/Friends/"><i class="fas fa-users" style="color: white !important;font-size: 22px !important;"></i> <label style="cursor: pointer;">People</label></a></li>
            <li><a href="/sgn"><label style="cursor: pointer;">Sign up</label> <i class="fas fa-plus-circle" style="color: white !important;font-size: 22px !important;"></i></a></li>
            <li><a href="/lgn"><label style="cursor: pointer;">Login</label> <i class="fas fa-sign-in-alt" style="color: white !important;font-size: 22px !important;"></i></a></li>
            </ul>
        {% endif %}
    </nav>
    <div id="msbx" class="msgss" style="display: none;">
        <label class="msgs" id="msgss">nothing</label>
        <i id="msgp" onclick="closemsg(id)" class="fas fa-times" ></i>
    </div>
    {% for message in messages %}
    <div class="msgss">
    <label class="msgs">{{ message }}</label>
    <i id="msgp" class="fas fa-times" ></i>
</div>
    {% endfor %}
    <h3 style="text-align: center;margin-top: 10px;">Members in Your Group</h3>
    {% for u in us %}
    <div class="post1" id="post{{ user.id }}">
        <div class="prf"> 
            <div class="p" style="background-image: url('{{ u.imgp.url }}');"></div>
            <label id="nm">{{ u.fstname }} {{ u.secname }}</label>
            <label id="tsm1">{{ u.u_nm }}</label>
            <label id="tsm2">Joined Fbclone on: {{ u.timestamp }}</label>
        </div>
        <div class="abt">
        
        <button class="upls" style="margin-top: 40px;" id="{{ u.id }}" >You {{ get_prf.friends.all }}</button>

    </div>
    </div>
    {% endfor %}
    {% for user in users %}
    
    {% if request.user in user.friends.all %}
    <div class="post1" id="post{{ user.id }}">
        <div class="prf"> 
            <div class="p" style="background-image: url('{{ user.imgp.url }}');"></div>
            <label id="nm">{{ user.fstname }} {{ user.secname }}</label>
            <label id="tsm1">{{ user.u_nm }}</label>
            <label id="tsm2">Joined Fbclone on: {{ user.timestamp }}</label>
        </div>
        <div class="abt">
        
        <button class="upls" style="margin-top: 40px;" id="{{ user.id }}" >Your Friend</button>

    </div>
    </div>
    {% else %}
    <div class="post1" id="post{{ user.id }}">
        <div class="prf"> 
            <div class="p" style="background-image: url('{{ user.imgp.url }}');"></div>
            <label id="nm">{{ user.fstname }} {{ user.secname }}</label>
            <label id="tsm1">{{ user.u_nm }}</label>
            <label id="tsm2">Joined Fbclone on: {{ user.timestamp }}</label>
        </div>
        <div class="abt">
        
        <button id="{{ user.id }}" class="upls" style="margin-top: 40px;" onclick="Add_Friend(id)">Add Friend <i class="fas fa-people-arrows"></i></button>
        <button id="sent{{ user.id }}" class="upls" style="margin-top: 40px;display: none;" onclick="withdraw_request(id)"> Withdraw --></i></button>

    </div>
    </div>
    {% endif %}
    {% endfor %}
</body>
<script>
    click_no=1;
    kkkkk="{{ lnt }}"
    dholaa="{{ le }}" 
    d=-1
    function closemsg(d){
        if(d=='msgp1'){
        document.getElementById('msbx1').style.display="none";
        }
        else{
        document.getElementById('msbx').style.display="none";
    }
  }
    if(dholaa==1){ 
        ii=1;
        for(ii=1;ii<=kkkkk;ii++){
            document.getElementById('dbtnnn'+ii).style.display="block";
        }
    }
   
    function de(xyz){
        document.getElementById(`hdneeee${xyz}`).value=xyz;
    }
    function de1(xzy){
        document.getElementById(`hdneee${xzy}`).value=xzy;
    }
    function myFunction(x) {
        document.getElementById(`pppp${x}`).value=x;
        
    }
    function comment12(xxx){
      document.getElementById(`ctrrr${xxx}`).style.display="block";
      document.getElementById(`hdnee${xxx}`).value=xxx;
    }
    function cutcomm(yyy){
      document.getElementById(`ctrrr${yyy}`).style.display="none";
    }
    function showprof(){
        click_no=click_no+1;
        if(click_no%2==0){
            document.getElementById('dropdown-content').style.display='block';
        } 
        else{
            document.getElementById('dropdown-content').style.display='';
        }
    }

    async function Add_Friend(id){
        document.getElementById(`${id}`).style.display='none';
        document.getElementById(`sent${id}`).style.display='';
        let response = await fetch(`/Send_request/${id}/`, {
        credentials: 'include',
        method: 'POST',
        mode: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        
    })
    if(response.ok){
        let json = await response.json();
        let message = json["message"];
        if(message=='Success'){
            document.getElementById('msbx').style.display='block';
            document.getElementById('msgss').innerHTML='Friend request send!!'
        }
        else{
            document.getElementById('msbx').style.display='block';
            document.getElementById('msgss').innerHTML=message;
        }
    }
    else{
        console.log('failed')
    }
    }
    async function withdraw_request(id){
        id1=id.slice(4)
        let response = await fetch(`/withdraw_request/${id1}/`, {
        credentials: 'include',
        method: 'POST',
        mode: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        
    })
    if(response.ok){
        let json = await response.json();
        let message = json["message"];
        if(message=='Success'){
        document.getElementById(`${id1}`).style.display='';
        document.getElementById(`sent${id1}`).style.display='none';
        }
        else{
            document.getElementById('msbx').style.display='block';
            document.getElementById('msgss').innerHTML=message;
        }
    }}
</script>
</html>

  
