{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'navbar.css' %}"> 
    <link rel="stylesheet" href="{% static 'cpost.css' %}">
    
    
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Fb Clone</label>
        {% if user.is_authenticated %}
        <ul>
        <li>
            <div>
            <a href="/">
                <i class="fas fa-home" style="color: white !important;font-size: 22px !important;"></i>
                <label style="cursor: pointer;">Home</label>
            </a>
            </div>
        </li>
        <li>
            <a href="/cpost">
            <i class="fas fa-upload" style="color: white !important;font-size: 22px !important;"></i>
            <label style="cursor: pointer;">Post</label>
            </a>
        </li>
        <li>
            <a href="/my_groups/">
                <i class="fas fa-users" style="color: white !important;font-size: 22px !important;"></i>
                <label style="cursor: pointer;">Groups</label>
            </a>
        </li>
        <li>
            <a href="/my_friends/">
            <i class="fas fa-user-friends" style="color: white !important;font-size: 25px !important;"></i>
            <label style="cursor: pointer;">Friends</label>
            </a>
        </li>
        <!-- <li><a href="/showprofile">Profile</a></li> --> 
        <div class="dropdown">
            <button class="dropbtn" onclick="showprof()"><i class="fas fa-user-circle" style="color: white !important;font-size: 25px !important;"></i><label style="cursor: pointer;padding-left: 3px;">Account</label>
            </button>
            <div class="dropdown-content" id="dropdown-content">
              <a href="/showprofile"><i class="fas fa-user-circle"></i> Profile</a>
              <a href="/mposts"><i class="fas fa-upload"></i> My Posts</a>
              <a href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
            </div>
          </div>     
    </ul>
    
        {% else %}
        <ul>
            <li><a href="/cm"><i class="fas fa-home" style="color: white !important;font-size: 22px !important;"></i>
                <label style="cursor: pointer;">Home</label></a></li>
            <li><a href="/Friends/"><i class="fas fa-users" style="color: white !important;font-size: 22px !important;"></i> <label style="cursor: pointer;">People</label></a></li>
            <li><a href="/sgn"><label style="cursor: pointer;">Sign up</label> <i class="fas fa-plus-circle" style="color: white !important;font-size: 22px !important;"></i></a></li>
            <li><a href="/lgn"><label style="cursor: pointer;">Login</label> <i class="fas fa-sign-in-alt" style="color: white !important;font-size: 22px !important;"></i></a></li>
            </ul>
        {% endif %}
    </nav>
    <div id="msbx" class="msgss" style="display: none;">
        <label class="msgs" id="msgss">nothing</label>
        <i id="msgp" onclick="closemsg(id)" class="fas fa-times" ></i>
    </div> 
    {% for message in messages %}
    <div class="msgss">
    <label class="msgs">{{ message }}</label>
    <i id="msgp" class="fas fa-times" ></i>
</div>
    {% endfor %}
    <div class="other_options">
        <a href="/create_group/" class="same_as">Create Group</a>
        <a href="/show_groups/" class="same_as">Discover Groups</a>
    </div>
    <h3 style="text-align:center;margin-top:20px;font-size: 25px;">Your groups request :</h3>
    {% for r in req %}
    <div class="post1" id="post{{ grp.id }}">
        <div class="prf">
            <div class="p" style="background-image: url('{{  r.group.imgp.url }}');"></div>
            <label id="nm" style="padding: 11px !important;">{{  r.group.name }}</label>
            <label id="tsm1">No. of members:{{ r.group.members }}</label>
            <label id="tsm2" style="padding-top: 20px !important;display: inline-block !important;padding-left: 6px !important;">Admin: {% for g in r.group.admin.all %} {{ g.u_nm }}, {% endfor %}</label>
        </div>
        <div class="abt10">
        
        <button class="upls11" id="{{ r.id }}" style="display: inline-block;margin: auto;margin-top: 50px;padding: 3px 20px !important;" onclick="Add_ingroup(id)">Accept Request</button>
        <button class="upls11" id="rem{{ r.id }}" style="margin-top: 50px;">Remove request</button>
        <button class="upls11" id="remv{{ r.id }}" style="margin-top: 50px;display: none;width: 50%;">Added to the group</button>
  
    </div>
    </div>
    {% endfor %}
    
</body>
<script>
    click_no=1;
    kkkkk="{{ lnt }}"
    dholaa="{{ le }}"
    gtt="{{ gtt }}"
    stt="{{ stt }}"
    if(gtt=='0'){
        document.getElementById('gtt').style.display='';
    }
    if(stt=='0'){
        document.getElementById('stt').style.display='';
    }
    d=-1
    function closemsg(){
    document.getElementById('msbx').style.display="none";
  }
    if(dholaa==1){ 
        ii=1;
        for(ii=1;ii<=kkkkk;ii++){
            document.getElementById('dbtnnn'+ii).style.display="block";
        }
    }
   
    function de(xyz){
        document.getElementById(`hdneeee${xyz}`).value=xyz;
    }
    function de1(xzy){
        document.getElementById(`hdneee${xzy}`).value=xzy;
    }
    function myFunction(x) {
        document.getElementById(`pppp${x}`).value=x;
        
    }
    function comment12(xxx){
      document.getElementById(`ctrrr${xxx}`).style.display="block";
      document.getElementById(`hdnee${xxx}`).value=xxx;
    }
    function cutcomm(yyy){
      document.getElementById(`ctrrr${yyy}`).style.display="none";
    }
    function showprof(){
        click_no=click_no+1;
        if(click_no%2==0){
            document.getElementById('dropdown-content').style.display='block';
        } 
        else{
            document.getElementById('dropdown-content').style.display='';
        }
    }
    async function Add_ingroup(id){
        let response = await fetch(`/Add_ingroup/${id}/`, {
        credentials: 'include',
        method: 'POST',
        mode: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        
    })
    if(response.ok){
        let json = await response.json();
        let message = json["message"];
        if(message=='Success'){
            document.getElementById(`${id}`).style.display='none'
            document.getElementById(`rem${id}`).style.display='none'
            document.getElementById(`remv${id}`).style.display=''
        }
        else{
            document.getElementById('msbx').style.display='block';
            document.getElementById('msgss').innerHTML=message;
        }
    }
    }
</script>
</html>

  
