{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'navbar.css' %}"> 
    <link rel="stylesheet" href="{% static 'cpost.css' %}">
    
    
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Fb Clone</label>
        {% if user.is_authenticated %}
        <ul>
        <li>
            <div>
            <a href="/">
                <i class="fas fa-home" style="color: white !important;font-size: 22px !important;"></i>
                <label style="cursor: pointer;">Home</label>
            </a>
            </div>
        </li>
        <li>
            <a href="/cpost">
            <i class="fas fa-upload" style="color: white !important;font-size: 22px !important;"></i>
            <label style="cursor: pointer;">Post</label>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-bell" style="color: white !important;font-size: 25px !important;"></i>
                <label style="cursor: pointer;">Notification</label>
            </a>
        </li>
        <li>
            <a href="#">
            <i class="fas fa-user-friends" style="color: white !important;font-size: 25px !important;"></i>
            <label style="cursor: pointer;">Friends</label>
            </a>
        </li>
        <!-- <li><a href="/showprofile">Profile</a></li> --> 
        <div class="dropdown">
            <button class="dropbtn" onclick="showprof()"><i class="fas fa-user-circle" style="color: white !important;font-size: 25px !important;"></i><label style="cursor: pointer;padding-left: 3px;">Account</label>
            </button>
            <div class="dropdown-content" id="dropdown-content">
              <a href="/showprofile"><i class="fas fa-user-circle"></i> Profile</a>
              <a href="/mposts"><i class="fas fa-upload"></i> My Posts</a>
              <a href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
            </div>
          </div>     
    </ul>
    
        {% else %}
        <ul>
            <li><a href="/cm"><i class="fas fa-home" style="color: white !important;font-size: 22px !important;"></i>
                <label style="cursor: pointer;">Home</label></a></li>
            <li><a href="#"><i class="fas fa-users" style="color: white !important;font-size: 22px !important;"></i> <label style="cursor: pointer;">People</label></a></li>
            <li><a href="/sgn"><label style="cursor: pointer;">Sign up</label> <i class="fas fa-plus-circle" style="color: white !important;font-size: 22px !important;"></i></a></li>
            <li><a href="/lgn"><label style="cursor: pointer;">Login</label> <i class="fas fa-sign-in-alt" style="color: white !important;font-size: 22px !important;"></i></a></li>
            </ul>
        {% endif %}
    </nav>
    {% for message in messages %}
    <div class="msgss">
    <label class="msgs">{{ message }}</label>
    <i id="msgp" class="fas fa-times" ></i>
</div>
    {% endfor %}
    {% for user in users %}
    <div class="post1">
        <div class="prf"> 
            <div class="p" style="background-image: url('{{ user.imgp.url }}');"></div>
            <label id="nm">{{ user.fstname }} {{ user.secname }}</label>
            <label id="tsm1">{{ user.u_nm }}</label>
            <label id="tsm2">Joined Fbclone on: {{ user.timestamp }}</label>
        </div>
        <div class="abt">
        
        <button id="upls" style="margin-top: 40px;">Add Friend <i class="fas fa-people-arrows"></i></button>

    </div>
    </div>
    {% endfor %}
</body>
<script>
    click_no=1;
    kkkkk="{{ lnt }}"
    dholaa="{{ le }}" 
    d=-1
    function closemsg(){
    document.getElementById('msbx').style.display="none";
  }
    if(dholaa==1){ 
        ii=1;
        for(ii=1;ii<=kkkkk;ii++){
            document.getElementById('dbtnnn'+ii).style.display="block";
        }
    }
   
    function de(xyz){
        document.getElementById(`hdneeee${xyz}`).value=xyz;
    }
    function de1(xzy){
        document.getElementById(`hdneee${xzy}`).value=xzy;
    }
    function myFunction(x) {
        document.getElementById(`pppp${x}`).value=x;
        
    }
    function comment12(xxx){
      document.getElementById(`ctrrr${xxx}`).style.display="block";
      document.getElementById(`hdnee${xxx}`).value=xxx;
    }
    function cutcomm(yyy){
      document.getElementById(`ctrrr${yyy}`).style.display="none";
    }
    function showprof(){
        click_no=click_no+1;
        if(click_no%2==0){
            document.getElementById('dropdown-content').style.display='block';
        } 
        else{
            document.getElementById('dropdown-content').style.display='';
        }
    }
</script>
</html>

  
